<tr class = "Index_Entry">
	<th class = "Index_Entry_Version"><!--
		-->{VersionNumber}<!--
	--></th>
	
	<th class = "Index_Entry_Installer">
		<a class = "Installer_Link" target = "_blank" href = "{InstallerLink}"><!--
			-->Installer<!--
		--></a>
	</th>
	
	<th class = "Index_Entry_Files">
		<a class = "Files_Link" target = "_blank" href = "{FilesLink}"><!--
			-->Files<!--
		--></a>
	</th>
	
	<th class = "Index_Entry_Sources">
		<a class = "Sources_Link" target = "_blank" href = "{SourcesLink}"><!--
			-->Sources<!--
		--></a>
	</th>
	
	<th class = "Index_Entry_Game_Version"><!--
		-->{GameVersionNumber}<!--
	--></th>
	
	<th class = "Index_Entry_Release_Date"><!--
		-->{ReleaseDate}<!--
	--></th>
</tr>